<div class="container">
  <% unless params[:iframe].present? %>
    <%= render 'shared/center_nav' %>
  <% end %>
  
  <div class="center-main">
  <h3>修改邮箱</h3>
  <div class="form">
      <%= form_for :user, :url => 'add_email' do |f| %>
          <div class="row">
            <%= f.label :new_email, '邮箱' %>
            <%= f.email_field :new_email, class: 'form-control' %>
          </div>
          <div class="row">
            <label class='control-label'>验证码</label>
            <div class="input-wrapper">
              <%= rucaptcha_input_tag(class: 'captcha-input', placeholder: '图形验证码') %>
              <%= rucaptcha_image_tag(class: 'captcha', alt: '验证码') %>
            </div>
          </div>
          <% if params[:iframe].present? %>
            <input type="hidden" name='iframe' value="1"/>
          <% end %>
            <%= f.submit "提交", class: "button btn-orange" %>
      <% end %>
  </div>
  </div>
</div>
