<div class="container">
  <% unless params[:iframe].present? %>
    <%= render 'shared/center_nav' %>
  <% end %>
  <div class="center-main">
    <h3>修改密码</h3>
    <div class="form">
        <%= form_for(@user,:html => {:id =>"edit_passwd_form"}) do |f| %>
            <%= render 'shared/error_messages' %>
            <div class="row">
              <%= f.label :password, "新的密码",class:'control-label' %>
              <%= f.password_field :password, class: 'form-control', autocomplete: "off" %>
            </div>

            <div class="row">
              <%= f.label :password, "重复新密码",class:'control-label' %>
              <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "off" %>
            </div>

            <div class="row">
              <%= f.label :current_password, "当前密码",class:'control-label' %>
              <%= f.password_field :current_password, class: 'form-control', autocomplete: "off" %>
            </div>
            
            <% if params[:iframe].present? %>
              <input type="hidden" name='iframe' value="1"/>
            <% end %>

            <%= f.submit "提交", class: "button btn-orange" %>
        <% end %>
    </div>
  </div>
</div>