<h3>修改密码</h3>
<div class="form">
    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages' %>
        <div class="row">
          <%= f.label :password, "密码设置",class:'control-label' %>
          <%= f.password_field :password, class: 'form-control', autocomplete: "off" %>
        </div>

        <div class="row">
          <%= f.label :current_password, "当前密码",class:'control-label' %>
          <%= f.password_field :current_password, class: 'form-control', autocomplete: "off" %>
        </div>

        <%= f.submit "提交", class: "button btn-orange" %>
    <% end %>
</div>
