<ul>

  <% if current_user.avatar.url.present? %>
  <li><%= image_tag(current_user.avatar.url) %></li>
<% end %>
<li>用户名：<%= @user.name %></li>
<% if @user.email? %>
  <li>邮箱：<%= @user.email %>
    <% unless @user.confirmed? %>
    （未验证）
    <% end %>
    <%= link_to "修改","/profile/email"%></li>
<% else %>
  <li><%= link_to "添加邮箱","/profile/email"%></li>
<% end %>

<% if @user.phone? %>
  <li>手机号：<%= @user.phone %><%= link_to "修改", profile_phone_path %></li>
<% else %>
  <li><%= link_to "添加手机号", profile_phone_path %></li>
<% end %>
</ul>
