<nav class="navbar navbar-default nav-white">
  <div class="container-fluid">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-menu"
                aria-expanded="false">
          <span class="sr-only"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <img src="" alt="" data-src="<%= image_path('home/logo-active.png') %>"/>
        </a>
      </div>
      <div class="collapse navbar-collapse" id="nav-menu">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">首页</a></li>
          <li><%= link_to '服务', services_index_path %></li>
          <li><%= link_to '活动', activities_index_path %></li>
          <li><%= link_to '工作&联系', contacts_index_path %></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<a href="<%= activities_index_path %>">
<div class="banner" data-src="<%= image_path('home/banner-active.png') %>">
  <div class="banner-text">
    <p>专注机器人领域的知识传播，</p>

    <p>为孩子们科学思维的孵化培育个性化的丰厚土壤；</p>

    <p>拥抱互联网、立足科技研发，</p>

    <p>在虚拟的互动社区中构建起孩子、老师和科技的无限联结</p>
  </div>
</div>
</a>

<div class="feature">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="feature-title">
          公司特点
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="feature-item">
          <img src="" alt="" data-src="<%= image_path('home/feature-item01.jpg') %>"/>

          <div class="feature-dec">我们打造专业的运营、技术和培训团队</div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="feature-item">
          <img src="" alt="" data-src="<%= image_path('home/feature-item02.jpg') %>"/>

          <div class="feature-dec">我们为您搜罗和推荐先进的器材和设备</div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="feature-item">
          <img src="" alt="" data-src="<%= image_path('home/feature-item03.jpg') %>"/>

          <div class="feature-dec">我们提供多元的服务和机器人爱好者社群</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="site-footer">
  <div class="partner" data-src="<%= image_path('home/partner.png') %>">
    <p class="title">合作伙伴：</p>

    <div class="logo-c">
      <img src="" alt="海芯" data-src="<%= image_path('home/partner-haixin.png') %>"/>
      <img src="" alt="盘纹" data-src="<%= image_path('home/partner-panwin.png') %>"/><br/>
      <img src="" alt="清华大学" data-src="<%= image_path('home/partner-tsinghua.png') %>"/>
      <img src="" alt="复旦大学" data-src="<%= image_path('home/partner-fddx.png') %>"/>
      <img src="" alt="上海大学" data-src="<%= image_path('home/partner-shdx.png') %>"/>
      <img src="" alt="同济大学" data-src="<%= image_path('home/partner-tjdx.png') %>"/><br/>
      <img src="" alt="机器人协会" data-src="<%= image_path('home/partner-xiehui.png') %>"/>
      <img src="" alt="联想" data-src="<%= image_path('home/partner-lenovo.png') %>"/>
      <img src="" alt="苏宁" data-src="<%= image_path('home/partner-suning.png') %>"/>
      <img src="" alt="华为" data-src="<%= image_path('home/partner-huawei.png') %>"/>
      <img src="" alt="百度" data-src="<%= image_path('home/partner-baidu.png') %>"/>
    </div>
  </div>
  <div class="contact">
    <div class="container">
      <div class="contact-inner">
        Contact：&nbsp; 王先生 &nbsp; 021-31653316 &nbsp; dome@robodou.cn &nbsp; 上海市钦州北路68号B3栋101室 &nbsp;
        COPYRIGHT&copy;2015-2016
        <br>
        沪ICP备15036141号
      </div>
    </div>
  </div>
</div>

