<div id="contact">
  <nav class="navbar navbar-default nav-orange">
    <div class="container-fluid">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-menu"
                  aria-expanded="false">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img src="" alt="" data-src="<%= image_path('home/logo-orange.png') %>"/>
          </a>
        </div>
        <div class="collapse navbar-collapse" id="nav-menu">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">首页</a></li>
            <li><%= link_to '服务', services_index_path %></li>
            <li><%= link_to '活动', activities_index_path %></li>
            <li><%= link_to '工作&联系', contacts_index_path, class: 'active-item' %></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <div class="contact-job" data-src="<%= image_path('contact/job-bk.png') %>">
    <div class="container">
      <div class="job">
        <h3>加入我们：</h3>

        <p>寻找助理</p>

        <p>要求：</p>

        <p>学习能力强，能积极主动完成工作。</p>

        <p>方向1：活动策划</p>

        <p>方向2：自媒体运营</p>

        <p>方向3：客户管理或销售</p>

        <p style="margin-bottom: 60px;">期待您的加入</p>

        <h3>联系方式：</h3>

        <p>TEL：王磊 137-6474-3656</p>

        <p>E-MAIL：wanglei@robodou.cn</p>

        <p>ADD：上海市钦州北路68号B3栋101室</p>
      </div>
    </div>
  </div>

  <div class="contact-map">
    <img src="" alt="" data-src="<%= image_path('contact/map.png') %>"/>
  </div>

  <div class="site-footer">
    <div class="contact">
      <div class="container">
        <div class="contact-inner">
          Contact：&nbsp; 王先生 &nbsp; 31653316 &nbsp; dome@robodou.cn &nbsp; 上海市钦州北路68号B3栋101室 &nbsp;
          COPYRIGHT&copy;2015-2016
          <br>
          沪ICP备15036141号
        </div>
      </div>
    </div>
  </div>
</div>