<div id="activity">
  <nav class="navbar navbar-default nav-orange">
    <div class="container-fluid">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-menu"
                  aria-expanded="false">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img src="" alt="" data-src="<%= image_path('home/logo-orange.png') %>"/>
          </a>
        </div>
        <div class="collapse navbar-collapse" id="nav-menu">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">首页</a></li>
            <li><%= link_to '服务', services_index_path %></li>
            <li><%= link_to '活动', activities_index_path, class: 'active-item' %></li>
            <li><%= link_to '工作&联系', contacts_index_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <div class="activity-inner">
    <div class="container">
      <div class="activity-menu">
        <ul class="items tabs-top" data-tabs=".activity-content">
          <li class="item">
            机器人社群
          </li>
          <li class="item">
            嘉年华
          </li>
          <li class="item active">
            硅谷科技之旅
          </li>
        </ul>
      </div>
    </div>
    <div class="activity-content">
      <div class="tabs-item">
        <!--机器人社群-->
        <div class="img-c add-bk hidden-xs">
          <img src="" alt="" class="img-cover" data-src="<%= image_path('activity/item-a01.png') %>"/>
          <img src="" alt="" class="img-cover" data-src="<%= image_path('activity/item-a02.png') %>"/>
        </div>
        <div class="img-c visible-xs">
          <img style="max-width: 100%;" src="" alt="" class="" data-src="<%= image_path('activity/computer.png') %>"/>
        </div>
        <div class="container">
          <div class="dec">
            <p>我们用随时、随地的线上交流，</p>

            <p>串联起对科技知识的无穷探知。</p>

            <p>在这个机器人社群里，</p>

            <p>我们鼓励分享和开源，</p>

            <p>你可以是受教者，也可以是授教者，</p>

            <p>在线课程、项目交流、课题展示……</p>

            <p>让畅通无阻的知识传递在社群中实现。</p>
          </div>
        </div>
      </div>
      <div class="tabs-item ">
        <!--嘉年华-->
        <div class="img-c add-bk2 hidden-xs">
          <img src="" alt="" class="" data-src="<%= image_path('activity/carnival.png') %>"/>
        </div>
        <div class="img-c visible-xs">
          <img src="" alt="" data-src="<%= image_path('activity/monkey.png') %>"/>
        </div>
        <div class="container">
          <div class="dec">
            <p>这是一场机器人爱好者的盛会，</p>

            <p>“展示、分享、互动”是贯穿始终的主题。</p>

            <p>这里有是时代前沿的高科技产品、</p>

            <p>这里有爱好者们创作的优秀作品、</p>

            <p>也有精彩的主题邀请赛……</p>

            <p>我们将机器人元素融入娱乐、游艺与交流</p>

            <p>让孩子们感受竞技之外的创意体验。</p>
          </div>
        </div>
      </div>
      <div class="tabs-item active">
        <div class="tour">
          <div class="tour-banner" data-src="<%= image_path('activity/tour-banner.png') %>"></div>
          <div class="tour-first" data-src="<%= image_path('activity/tour-first.png') %>">
            <div class="act1">
              <div class="act-t">
                三项全真实践课程：
              </div>
              <div class="act-c">
                <div class="act-r">
                  <div class="act-l">
                    ●
                  </div>
                  <div class="act-r">
                    硅谷STEAM科技体验中心
                  </div>
                </div>
                <div class="act-r">
                  <div class="act-l">

                  </div>
                  <div class="act-r">
                    在硅谷工程师的指导下完成机器人项目
                  </div>
                </div>
                <div class="act-r">
                  <div class="act-l">
                    ●
                  </div>
                  <div class="act-r">
                    美国航空航天局NASA专家：机器人未来技术前瞻
                  </div>
                </div>
              </div>
              <div class="act-i">
                <img src="<%= image_path('activity/act1.png') %>" alt=""/>
              </div>
            </div>

            <div class="act2">
              <div class="act-t">
                三家名企、2所名校、1个科技地标参观：
              </div>
              <div class="act-c">
                <div class="act-r">
                  <div class="act-l">
                    ●
                  </div>
                  <div class="act-r">
                    参观硅谷发动机、世界级名校：斯坦福大学
                  </div>
                </div>
                <div class="act-r">
                  <div class="act-l">
                    ●
                  </div>
                  <div class="act-r">
                    最自由最包容的大学：伯克利大学
                  </div>
                </div>
                <div class="act-r">
                  <div class="act-l">
                    ●
                  </div>
                  <div class="act-r">
                    参观硅谷科技地标：英特尔博物馆改变世界的三大公司谷歌、苹果、微软
                  </div>
                </div>
              </div>
              <div class="act-i">
                <img src="<%= image_path('activity/act2.png') %>" alt=""/>
              </div>
            </div>

            <div class="act3">
              <div class="act-t">
                2次全景列席：
              </div>
              <div class="act-c">
                <div class="act-r">
                  <div class="act-l">
                    ●
                  </div>
                  <div class="act-r">
                    旁听硅谷创业者头脑风暴会
                  </div>
                </div>
                <div class="act-r">
                  <div class="act-l">
                    ●
                  </div>
                  <div class="act-r">
                    旁听加州政府会议
                  </div>
                </div>
              </div>
              <div class="act-i">
                <img src="<%= image_path('activity/act3.png') %>" alt=""/>
              </div>
            </div>

            <div class="act4">
              <div class="act-t">
                2次中美英才深度互动座谈
              </div>
              <div class="act-c">
                <div class="act-r">
                  <div class="act-l">
                    ●
                  </div>
                  <div class="act-r">
                    与中学生机器人大奖赛获奖队长座谈：青年的创新使命
                  </div>
                </div>
                <div class="act-r">
                  <div class="act-l">
                    ●
                  </div>
                  <div class="act-r">
                    与留学生座谈：留学的人生大不同
                  </div>
                </div>
              </div>
              <div class="act-i">
                <img src="<%= image_path('activity/act4.png') %>" alt=""/>
              </div>
            </div>

            <div class="act5">
              <div class="act-t">
                自然资源考察与人文考察
              </div>
              <div class="act-c">
                <div class="act-r pull-left">
                  <div class="act-l">
                    ●
                  </div>
                  <div class="act-r">
                    观光游览旧金山经典景观
                  </div>
                </div>
                <div class="act-r pull-right">
                  <div class="act-l">
                    ●
                  </div>
                  <div class="act-r">
                    国庆日焰火表演
                  </div>
                </div>
                <div class="act-r pull-left">
                  <div class="act-l">
                    ●
                  </div>
                  <div class="act-r">
                    造访美国家庭，参加美式PARTY
                  </div>
                </div>
                <div class="act-r pull-right">
                  <div class="act-l">
                    ●
                  </div>
                  <div class="act-r">
                    大黄蜂航空母舰体验
                  </div>
                </div>
              </div>
              <div class="act-i">
                <img src="<%= image_path('activity/act5.png') %>" alt=""/>
              </div>
            </div>

            <div class="act6">
              <div class="act-t">
                1次致敬：
              </div>
              <div class="act-c">
                <div class="act-r">
                  <div class="act-l">
                    ●
                  </div>
                  <div class="act-r">
                    拜谒“苹果之父”乔布斯的故居
                  </div>
                </div>
              </div>
              <div class="act-i">
                <img src="<%= image_path('activity/act6.png') %>" alt=""/>
              </div>
            </div>

          </div>
          <div class="tour-second">
            <div class="container">
              <div class="title" data-src="<%= image_path('activity/tour-second.png') %>">
              </div>
              <div class="dec-s">
                <div class="dec-item">
                  <img src="" alt=""/>
                  2016年7月3日-16日（共14天）
                </div>
                <div class="dec-item">
                  <img src="" alt=""/>
                  美国加利福尼亚州-圣何塞州立大学学生宿舍
                </div>
                <div class="dec-item">
                  <img src="" alt=""/>
                  中国上海12-17周岁科技爱好者
                </div>
                <div class="dec-item">
                  <img src="" alt=""/>
                  2名豆姆科技老师带队，22名学生
                </div>
              </div>
              <div class="row">
                <div class="col-sm-1 hidden-xs">
                  <div class="item"></div>
                </div>
                <div class="col-xs-4 col-sm-2">
                  <div class="item" data-src="<%= image_path('activity/item01.png') %>">
                    <div class="item-title">
                      抵达旧金山
                    </div>
                    <div class="item-content">
                      出关，午餐；游览九曲花街、金门大桥、海湾大桥、渔人码头、恩典教堂、艺术宫；晚餐在渔人码头品尝海鲜大餐；到达大学安置住宿
                    </div>
                  </div>
                </div>
                <div class="col-xs-4 col-sm-2">
                  <div class="item" data-src="<%= image_path('activity/item02.png') %>">
                    <div class="item-title">
                      科技体验中心
                    </div>
                    <div class="item-content">
                      第一天：科技体验中心参观、安全规则介绍、焊接和电路知识介绍，完成机器人项目第一部分；下午参观市政府；晚上国庆日焰火晚会 
                    </div>
                  </div>
                </div>
                <div class="col-xs-4 col-sm-2">
                  <div class="item" data-src="<%= image_path('activity/item03.png') %>">
                    <div class="item-title">
                      科技体验中心
                    </div>
                    <div class="item-content">
                      第二天：介绍2D/3D计算机辅助设计软件和使用方法，开始机器人项目第二部分；下午参观图书馆； 
                    </div>
                  </div>
                </div>
                <div class="col-xs-4 col-sm-2">
                  <div class="item" data-src="<%= image_path('activity/item04.png') %>">
                    <div class="item-title">
                      科技体验中心
                    </div>
                    <div class="item-content">
                      第三天：激光刻蚀机使用培训，完成机器人项目第二部分；下午参加创业者沙龙；
                    </div>
                  </div>
                </div>
                <div class="col-xs-4 col-sm-2">
                  <div class="item" data-src="<%= image_path('activity/item05.png') %>">
                    <div class="item-title">
                      科技体验中心
                    </div>
                    <div class="item-content">
                      第四天：软件控制部分学习，开始机器人项目第三部分；下午同上或自然保护区；当天晚上有个夏季音乐节，欣赏美国乡村音乐会 
                    </div>
                  </div>
                </div>
                <div class="col-sm-1 hidden-xs">
                  <div class="item"></div>
                </div>
                <div class="col-sm-1 hidden-xs">
                  <div class="item"></div>
                </div>
                <div class="col-xs-4 col-sm-2">
                  <div class="item" data-src="<%= image_path('activity/item06.png') %>">
                    <div class="item-title">
                      科技体验中心
                    </div>
                    <div class="item-content">
                      第五天：完成机器人项目第三部分，完工，项目总结，成果展示并颁发证书；美国国家航空、航天局（NASA）工程师与营员见面交流
                    </div>
                  </div>
                </div>
                <div class="col-xs-4 col-sm-2">
                  <div class="item" data-src="<%= image_path('activity/item07.png') %>">
                    <div class="item-title">
                      San Carlos Santa Cruz
                    </div>
                    <div class="item-content">
                      大黄蜂航空母舰体验；欣赏冲浪、海狮、神秘点、灯塔等自然海岸风光
                    </div>
                  </div>
                </div>
                <div class="col-xs-4 col-sm-2">
                  <div class="item" data-src="<%= image_path('activity/item08.png') %>">
                    <div class="item-title">
                      San Jose
                    </div>
                    <div class="item-content">
                      美国中学教育系统介绍；DESIGN THINKING课程（上）。
                    </div>
                  </div>
                </div>
                <div class="col-xs-4 col-sm-2">
                  <div class="item" data-src="<%= image_path('activity/item09.png') %>">
                    <div class="item-title">
                      Stanford
                    </div>
                    <div class="item-content">
                      参观世界级名校斯坦福大学/斯坦福设计学院＊；参观微软公司，傍晚观赏城市夜景
                    </div>
                  </div>
                </div>
                <div class="col-xs-4 col-sm-2">
                  <div class="item" data-src="<%= image_path('activity/item10.png') %>">
                    <div class="item-title">
                      San Jose
                    </div>
                    <div class="item-content">
                      参观英特尔博物馆；
                      中学生机器人大赛获奖队队长和营员互动＊
                    </div>
                  </div>
                </div>
                <div class="col-sm-1 hidden-xs">
                  <div class="item"></div>
                </div>
                <div class="col-sm-1 hidden-xs">
                  <div class="item"></div>
                </div>
                <div class="col-xs-4 col-sm-2">
                  <div class="item" data-src="<%= image_path('activity/item11.png') %>">
                    <div class="item-title">
                      San Jose
                    </div>
                    <div class="item-content">
                      加州大学伯克利分校校园；DESIGN THINKING课程（下）。
                    </div>
                  </div>
                </div>
                <div class="col-xs-4 col-sm-2">
                  <div class="item" data-src="<%= image_path('activity/item12.png') %>">
                    <div class="item-title">
                      Cupertino
                    </div>
                    <div class="item-content">
                      参观苹果公司，公司工程师分享科技创新经验；
                      参观加州政府，旁听议会；
                      乔布斯旧居＊
                    </div>
                  </div>
                </div>
                <div class="col-xs-4 col-sm-2">
                  <div class="item" data-src="<%= image_path('activity/item13.png') %>">
                    <div class="item-title">
                      Pala Alto
                    </div>
                    <div class="item-content">
                      参观谷歌公司，听谷歌人介绍谷歌企
                      业文化， 下午和傍晚高尔夫球场练球
                    </div>
                  </div>
                </div>
                <div class="col-xs-4 col-sm-2">
                  <div class="item" data-src="<%= image_path('activity/item14.png') %>">
                    <div class="item-title">
                      红木公园
                    </div>
                    <div class="item-content">
                      红木公园游览，到访美国家庭，体验美式PARTY
                    </div>
                  </div>
                </div>
                <div class="col-xs-4 col-sm-2">
                  <div class="item" data-src="<%= image_path('activity/item15.png') %>">
                    <div class="item-title">
                      旧金山
                    </div>
                    <div class="item-content">
                      告别加州，打包行李，在旧金山国际机场登机。
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tour-third">
            <div class="title" data-src="<%= image_path('activity/tour-third.png') %>">
            </div>
            <div class="third-c">
              <p class="red">定金￥5000 限22个席位，先到先得！</p>
              <p class="red">报名定金5000元/人，用于锁定名额。</p>
              <p class="red">限22个席位，根据定金到帐先后顺序确认名额。</p>
              <p class="black">为了保证夏令营的质量，照顾大多数孩子的感受，</p>
              <p class="black">我们只提供最合适的团队配额，不能邀请家长参加全部行程，</p>
              <p class="black">但可以邀请家长参与部分重要行程。住宿可以安排在离校园不远的别墅里，</p>
              <p class="black">如果有需求我们可以为家长配车，单独安排另外的自由行计划。费用单独核算。</p>
              <br/>
              <p class="red">夏令营营费：46800元/人</p>
              <p class="black">夏令营费用包括：</p>
              <p class="black">注册费、邀请函、签证费、美亚旅游黄金计划保险、往返机票、</p>
              <p class="black">境外全程涉及的交通、食宿、学费、资料费、旅游费、活动费、重点活动现场翻译。</p>
              <br/>
              <p class="red down">定金、营费汇款帐号：（付款后请标注注册学生姓名）</p>
              <p class="black">户名：魅境（上海）旅游咨询有限公司</p>
              <p class="black">账号：1219 1708 8910 806</p>
              <p class="black">开户行：招商银行上海东方支行</p>
            </div>
          </div>
          <div class="tour-bottom" data-src="<%= image_path('activity/tour-bottom.png') %>">
            <img class="ma" src="<%= image_path('activity/ma.png') %>"/>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="site-footer">
    <div class="contact">
      <div class="container">
        <div class="contact-inner">
          Contact：&nbsp; 王先生 &nbsp; 021-31653316 &nbsp; dome@robodou.cn &nbsp; 上海市钦州北路68号B3栋101室 &nbsp;
          COPYRIGHT&copy;2015-2016
          <br>
          沪ICP备15036141号
        </div>
      </div>
    </div>
  </div>
</div>