<div class="container-layer" id="about">
  <div class="container-content">
    <div class="nav">
      <div class="logo">
        <a href="/"><%= image_tag('home/logo.png') %></a></div>
      <%= link_to 'SERVICE', services_index_path, class: 'menu-btn' %>

      <%= link_to 'ACTIVITY', activities_index_path, class: 'menu-btn' %>

      <%= link_to 'CONTACT', '/#contact', class: 'menu-btn' %>

    </div>
  </div>
  <div class="container-content banner"></div>
  <div class="container-content team">
    <div class="title">
      我们的团队
    </div>
    <div class="content">
      <ul class="items">
        <li class="item">
          <div class="pao">
            <%= image_tag('about/pao01.fw.png') %>
          </div>
          <div class="avatar">
            <%= image_tag('about/avatar_wzk.png', size: '210x210') %>
          </div>
          <div class="dec">
            <p>魏宗凯</p>

            <p>（总经理）</p>
          </div>
        </li>
        <li class="item">
          <div class="pao">

            <%= image_tag('about/pao02.fw.png') %>

          </div>
          <div class="avatar">

            <%= image_tag('about/avatar_htq.png', size: '210x210') %>
          </div>
          <div class="dec">
            <p>何天起</p>

            <p>（市场总监）</p>
          </div>
        </li>
        <li class="item">
          <div class="pao">

            <%= image_tag('about/pao03.fw.png') %>
          </div>
          <div class="avatar">

            <%= image_tag('about/avatar_wl.png', size: '210x210') %>
          </div>
          <div class="dec">
            <p>王 磊</p>

            <p>（技术总监）</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="container-content partner text-center">
    <div class="title">
      合作伙伴
    </div>
    <%= image_tag('about/partner.fw.png') %>
  </div>
  <div class="container-content">
    <div class="join-in">

    </div>
  </div>
</div>