<!DOCTYPE html>
<html>
<head>
  <title>DomeSso</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= set_theme %>">
<div id="top" class="top container-fluid">
  <div class="container">
    <div class="left-menu">
      主站
      <span class="caret"></span>
      <ul class="hover-menu">
        <li>
          <a href="#">Domelab</a>
        </li>
        <li>
          <a href="#">Robodou</a>
        </li>
      </ul>
    </div>
    <div class="right-menu">
      <ul class="horizontal-ul">
        <li>
          <a href="">关于我们</a>
        </li>
        <li>
          <a href="">CN</a>
        </li>
        <li>
          <a href="/">登录</a>
        </li>
        <li>
          <%= link_to_if(params[:service].nil?, "注册", "/users/new") do
            link_to("注册", "/users/new?service="+params[:service])
          end %>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
<% end %> -->
<div id="yield">
  <%= yield %>
</div>
<div id="footer">
  <div class="container">
    <div class="title">
      我们是谁？
    </div>
    <div class="left">
      <div class="con">
        dome机器人学习器材是一个包含金属积木、子模块、软件工具等几百种零件的工程积木平台。dome机器人学习器材是一个包含金属....................................
      </div>
      <div class="link">
        <a href="">（查看详情）</a>
      </div>
    </div>
    <div class="middle">
      <p>联系方式</p>

      <p>电话：021-31653316</p>

      <p>邮箱：service@robodou.cn</p>

      <p>地址：上海市钦州北路68号B3栋101室</p>
    </div>
    <div class="right">
      <div class="QR">
        <img src="<%= image_path('QRcode.png') %>" alt=""/>
      </div>
      <div class="QR    ">
        <img src="<%= image_path('QRcode.png') %>" alt=""/>
      </div>
    </div>
  </div>
</div>
<!--<%= debug(params) if Rails.env.development? %>-->
</body>
</html>
