<!DOCTYPE html>
<html>
<head>
  <title>Domelab</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
</head>
<body>
<div id="about" class="about">
  <div class="section first">
    <div id="top" class="top container-fluid">
      <div class="container">
        <div class="left-menu">
          主站
          <span class="caret"></span>
          <ul class="hover-menu">
            <li>
              <a href="#">Domelab</a>
            </li>
            <li>
              <a href="#">Robodou</a>
            </li>
          </ul>
        </div>
        <div class="right-menu">
          <ul class="horizontal-ul">
            <li>
              <a href="">关于我们</a>
            </li>
            <li>
              <a href="">CN</a>
            </li>
            <li>
              <a href="<%= sign_in_path %>">登录</a>
            </li>
            <li>
              <a href="<%= sign_in_path %>">注册</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="nav" class="nav container-fluid">
      <div class="container">
        <div class="logo">
          <a href="/">
            <img data-src="<%= image_path('layout/logo-orange.png') %>" alt="DOME"/>
          </a>
        </div>
        <div class="nav-menu">
          <ul class="horizontal-ul">
            <li>
              <a href="">科普知识</a>
            </li>
            <li>
              <a href="">机器人新闻</a>
            </li>
            <li>
              <a href="">豆姆教室</a>
            </li>
            <li>
              <a href="">比赛分享</a>
            </li>
            <li>
              <a href="">专栏</a>
            </li>
            <li>
              <a href="">豆姆直播</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="banner">
      <div class="container">
        <div class="banner">
          <img data-src="<%= image_path('layout/banner.png') %>" alt=""/>
        </div>
        <div class="banner-list">
          <ul class="horizontal-ul">
            <li>
              <div class="banner-icon gps-icon ready">
                <img data-src="<%= image_path('layout/banner-icon-gps.png') %>" alt=""/>
              </div>
            </li>
            <li>
              <div class="banner-icon mail-icon ready">
                <img data-src="<%= image_path('layout/banner-icon-mail.png') %>" alt=""/>
              </div>
            </li>
            <li>
              <div class="banner-icon phone-icon ready">
                <img data-src="<%= image_path('layout/banner-icon-phone.png') %>" alt=""/>
              </div>
            </li>
            <li>
              <div class="banner-icon weixin-icon ready">
                <img data-src="<%= image_path('layout/banner-icon-weixin.png') %>" alt=""/>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div id="teacher" class="teacher">
      <div class="container-fluid">

        <div class="section-title">
          入驻名师
        </div>

        <div class="slider-section ready">
          <div class="slider-win">
            <ul class="horizontal-ul slider-list">
              <li class="slider-item">
                <div class="teacher-item">
                  <div class="img">
                    <img data-src="<%= image_path('teacher-temp.png') %>" alt=""/>
                  </div>
                  <div class="name">
                    XX老师
                  </div>
                  <div class="address">
                    XX少科站
                  </div>
                  <div class="dec">
                    描述描述描述描述描述描述
                  </div>
                </div>
              </li>
              <li class="slider-item">
                <div class="teacher-item">
                  <div class="img">
                    <img data-src="<%= image_path('teacher-temp.png') %>" alt=""/>
                  </div>
                  <div class="name">
                    XX老师
                  </div>
                  <div class="address">
                    XX少科站
                  </div>
                  <div class="dec">
                    描述描述描述描述描述描述
                  </div>
                </div>
              </li>
              <li class="slider-item active">
                <div class="teacher-item">
                  <div class="img">
                    <img data-src="<%= image_path('teacher-temp.png') %>" alt=""/>
                  </div>
                  <div class="name">
                    XX老师
                  </div>
                  <div class="address">
                    XX少科站
                  </div>
                  <div class="dec">
                    描述描述描述描述描述描述
                  </div>
                </div>
              </li>
              <li class="slider-item">
                <div class="teacher-item">
                  <div class="img">
                    <img data-src="<%= image_path('teacher-temp.png') %>" alt=""/>
                  </div>
                  <div class="name">
                    XX老师
                  </div>
                  <div class="address">
                    XX少科站
                  </div>
                  <div class="dec">
                    描述描述描述描述描述描述
                  </div>
                </div>
              </li>
              <li class="slider-item">
                <div class="teacher-item">
                  <div class="img">
                    <img data-src="<%= image_path('teacher-temp.png') %>" alt=""/>
                  </div>
                  <div class="name">
                    XX老师
                  </div>
                  <div class="address">
                    XX少科站
                  </div>
                  <div class="dec">
                    描述描述描述描述描述描述
                  </div>
                </div>
              </li>
              <li class="slider-item">
                <div class="teacher-item">
                  <div class="img">
                    <img data-src="<%= image_path('teacher-temp.png') %>" alt=""/>
                  </div>
                  <div class="name">
                    XX老师
                  </div>
                  <div class="address">
                    XX少科站
                  </div>
                  <div class="dec">
                    描述描述描述描述描述描述
                  </div>
                </div>
              </li>
              <li class="slider-item">
                <div class="teacher-item">
                  <div class="img">
                    <img data-src="<%= image_path('teacher-temp.png') %>" alt=""/>
                  </div>
                  <div class="name">
                    XX老师
                  </div>
                  <div class="address">
                    XX少科站
                  </div>
                  <div class="dec">
                    描述描述描述描述描述描述
                  </div>
                </div>
              </li>
              <li class="slider-item">
                <div class="teacher-item">
                  <div class="img">
                    <img data-src="<%= image_path('teacher-temp.png') %>" alt=""/>
                  </div>
                  <div class="name">
                    XX老师
                  </div>
                  <div class="address">
                    XX少科站
                  </div>
                  <div class="dec">
                    描述描述描述描述描述描述
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="slider-btn prev"></div>
          <div class="slider-btn next"></div>
        </div>

        <div class="text-animate ready">
          <p>如果你对机器人教育有热情 ● 如果你从事科技教育多年</p>

          <p>如果你对并发小朋友的创客能力充满干劲</p>

          <p>豆姆欢迎你的加入</p>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div id="history">
      <div class="container">
        <div class="list">
          <div class="list-title">
            <p>MEDIA <span>媒体</span></p>

            <p>REPORT <span>报道</span></p>
          </div>
          <div class="list-group">
            <div class="list-item active">
              <div class="oval"></div>
              <span class="time">2016/07/13</span>暑假“创新屋”机器人进社区
            </div>
            <div class="list-item">
              <div class="oval"></div>
              <span class="time">2016/07/13</span>暑假活动就是做作业? “00后"小朋友现在这样玩
            </div>
            <div class="list-item">
              <div class="oval"></div>
              <span class="time">2016/04/19</span>普陀区援黔藏学校大卡车出发
            </div>
            <div class="list-item">
              <div class="oval"></div>
              <span class="time">2016/04/18</span>普陀向黔藏贫困学校捐赠逾百万校服、3D打印机等
            </div>
            <div class="list-item">
              <div class="oval"></div>
              <span class="time">2015/11/11</span>40岁国社记者魏宗凯谈辞职 创业：不跳水永远在岸上
            </div>
            <div class="list-item">
              <div class="oval"></div>
              <span class="time">2015/09/25</span>“陪伴”机器人 智能化还不够
            </div>
          </div>
        </div>
        <div class="center">
          <div class="box active">
            <div class="box-img">
              <img data-src="<%= image_path('history-temp.png') %>" alt=""/>
            </div>
            <div class="box-text">
              在上海，不少社会教育机构推出了STEM课程或主题活动，但动辄数千元甚至上万元的学费，让不少家庭望而却步。针对这一情况，南京西路社区学校联手知名机器人教育机构共建机器人课堂，降低机器人教育的门槛，让更多孩子感知科学前沿。
            </div>
            <div class="box-bottom">
              青年日报
            </div>
          </div>
          <div class="box">
            <div class="box-img">
              <img data-src="<%= image_path('teacher-temp.png') %>" alt=""/>
            </div>
            <div class="box-text">
              在上海，不少社会教育机构推出了STEM课程或主题活动，但动辄数千元甚至上万元的学费，让不少家庭望而却步。针对这一情况，南京西路社区学校联手知名机器人教育机构共建机器人课堂，降低机器人教育的门槛，让更多孩子感知科学前沿。
            </div>
            <div class="box-bottom">
              青年日报
            </div>
          </div>
          <div class="box">
            <div class="box-img">
              <img data-src="<%= image_path('history-temp.png') %>" alt=""/>
            </div>
            <div class="box-text">
              在上海，不少社会教育机构推出了STEM课程或主题活动，但动辄数千元甚至上万元的学费，让不少家庭望而却步。针对这一情况，南京西路社区学校联手知名机器人教育机构共建机器人课堂，降低机器人教育的门槛，让更多孩子感知科学前沿。
            </div>
            <div class="box-bottom">
              青年日报
            </div>
          </div>
          <div class="box">
            <div class="box-img">
              <img data-src="<%= image_path('history-temp.png') %>" alt=""/>
            </div>
            <div class="box-text">
              在上海，不少社会教育机构推出了STEM课程或主题活动，但动辄数千元甚至上万元的学费，让不少家庭望而却步。针对这一情况，南京西路社区学校联手知名机器人教育机构共建机器人课堂，降低机器人教育的门槛，让更多孩子感知科学前沿。
            </div>
            <div class="box-bottom">
              青年日报
            </div>
          </div>
          <div class="box">
            <div class="box-img">
              <img data-src="<%= image_path('history-temp.png') %>" alt=""/>
            </div>
            <div class="box-text">
              在上海，不少社会教育机构推出了STEM课程或主题活动，但动辄数千元甚至上万元的学费，让不少家庭望而却步。针对这一情况，南京西路社区学校联手知名机器人教育机构共建机器人课堂，降低机器人教育的门槛，让更多孩子感知科学前沿。
            </div>
            <div class="box-bottom">
              青年日报
            </div>
          </div>
          <div class="box">
            <div class="box-img">
              <img data-src="<%= image_path('history-temp.png') %>" alt=""/>
            </div>
            <div class="box-text">
              在上海，不少社会教育机构推出了STEM课程或主题活动，但动辄数千元甚至上万元的学费，让不少家庭望而却步。针对这一情况，南京西路社区学校联手知名机器人教育机构共建机器人课堂，降低机器人教育的门槛，让更多孩子感知科学前沿。
            </div>
            <div class="box-bottom">
              青年日报
            </div>
          </div>
        </div>
        <div class="warp">
          <div class="warp-win">
            <ul class="horizontal-ul warp-list">
              <li class="warp-item">
                <div class="year">
                  1
                </div>
                <div class="warp-text">
                  <p>暑假</p>

                  <p>“创新屋”</p>

                  <p>机器人进社区</p>
                </div>
              </li>
              <li class="warp-item">
                <div class="year">
                  2
                </div>
                <div class="warp-text">
                  <p>暑假</p>

                  <p>“创新屋”</p>

                  <p>机器人进社区</p>
                </div>
              </li>
              <li class="warp-item">
                <div class="year">
                  3
                </div>
                <div class="warp-text">
                  <p>暑假</p>

                  <p>“创新屋”</p>

                  <p>机器人进社区</p>
                </div>
              </li>
              <li class="warp-item">
                <div class="year">
                  4
                </div>
                <div class="warp-text">
                  <p>暑假</p>

                  <p>“创新屋”</p>

                  <p>机器人进社区</p>
                </div>
              </li>
              <li class="warp-item">
                <div class="year">
                  5
                </div>
                <div class="warp-text">
                  <p>暑假</p>

                  <p>“创新屋”</p>

                  <p>机器人进社区</p>
                </div>
              </li>
              <li class="warp-item">
                <div class="year">
                  6
                </div>
                <div class="warp-text">
                  <p>暑假</p>

                  <p>“创新屋”</p>

                  <p>机器人进社区</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div id="video">
      <div class="container">
        <video src="">

        </video>
      </div>
    </div>
  </div>

  <div class="section">
    <div id="service">
      <div class="container">
        <div class="service-title">
          <div class="line-left"></div>
          <div class="line-right"></div>
          公司服务
        </div>
        <div class="service-upper">
          <div class="upper-title">
            <p class="orange">学校服务</p>

            <p>SCHOOL SERVICES</p>
          </div>
          <div class="left">
            <div class="upper-item first active">
              <div class="item">
                <div class="icon">
                  <img src="<%= image_path('layout/service01.png') %>" alt=""/>
                </div>
                <div class="name">
                  授课服务
                  <p>（机器人和3D打印）</p>
                </div>
              </div>
            </div>
            <div class="upper-item second">
              <div class="item">
                <div class="icon">
                  <img src="<%= image_path('layout/service02.png') %>" alt=""/>
                </div>
                <div class="name">
                  共建实验室
                </div>
              </div>
            </div>
            <div class="upper-item third">
              <div class="item">
                <div class="icon">
                  <img src="<%= image_path('layout/service03.png') %>" alt=""/>
                </div>
                <div class="name">
                  师资培训
                </div>
              </div>
            </div>
            <div class="upper-item fourth">
              <div class="item">
                <div class="icon">
                  <img src="<%= image_path('layout/service04.png') %>" alt=""/>
                </div>
                <div class="name">
                  赛事辅导
                </div>
              </div>
            </div>
            <div class="upper-item fifth">
              <div class="item">
                <div class="icon">
                  <img src="<%= image_path('layout/service05.png') %>" alt=""/>
                </div>
                <div class="name">
                  器材推荐
                </div>
              </div>
            </div>
          </div>
          <div class="right">
            <ul class="upper-list">
              <li class="list-item">
                <div class="title">
                  授课服务（机器人和3D打印）
                </div>
                <div class="img">
                  <img src="<%= image_path('history-temp.png') %>" alt=""/>
                </div>
                <div class="dec">
                  我们拥有专业的师资，为K12阶段的小朋友研发最适合他们的课程。采用国际上新颖独特的教学方法，因材施教，老师们用幽默且具有延伸性、开拓性的教学风格，让小朋友们边玩边学，真正发现STEAM教育的乐趣和意义。
                </div>
              </li>
            </ul>

          </div>
        </div>
        <div class="service-lower">
          <div class="lower-title">
            <p class="orange">更多服务</p>

            <p>MORE SERVICES</p>
          </div>
          <div class="tab-title">
            <div class="item active">
              <div class="icon">
                <img src="<%= image_path('layout/service06.png') %>" alt=""/>
              </div>
              <div class="name">
                社区授课服务
              </div>
            </div>
            <div class="item">
              <div class="icon">
                <img src="<%= image_path('layout/service07.png') %>" alt=""/>
              </div>
              <div class="name">
                赛事支持
              </div>
            </div>
            <div class="item">
              <div class="icon">
                <img src="<%= image_path('layout/service08.png') %>" alt=""/>
              </div>
              <div class="name">
                社区公益课&活动
              </div>
            </div>
            <div class="item">
              <div class="icon">
                <img src="<%= image_path('layout/service09.png') %>" alt=""/>
              </div>
              <div class="name">
                公益教育
              </div>
            </div>
          </div>
          <div class="tab-content">
            <ul class="tab-list horizontal-ul">
              <li class="tab-item">
                <div class="img">
                  <img src="<%= image_path('history-temp.png') %>" alt=""/>
                </div>
                <div class="dec">
                  我们拥有专业的师资，为K12阶段的小朋友研发最适合他们的课程。采用国际上新颖独特的教学方法，因材施教，老师们用幽默且具有延伸性、开拓性的教学风格，让小朋友们边玩边学，真正发现STEAM教育的乐趣和意义。
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div id="case">
      <div class="container">
        <div class="case-title">
          案例
        </div>
        <div class="case">
          <img class="bk-img" src="<%= image_path('layout/case01.png') %>" alt=""/>

          <div class="shade">
            <div class="s-t">
              1.实验室设计的案例
            </div>
            <div class="s-c">
              <p>上海市某教育集团的学校实验室设计</p>

              <p>富有科技感、现代感，打破传统的教师格局，采用智能硬件和设备来控制教室，为学生提供一个更有氛围的学习环境。</p>
            </div>
          </div>
        </div>
        <div class="case">
          <img class="bk-img" src="<%= image_path('layout/case02.png') %>" alt=""/>

          <div class="shade">
            <div class="s-t">
              2.学校授课案例
            </div>
            <div class="s-c">
              <p>上海市某中学的授课场景</p>

              <p>豆姆的老师正在为他们讲授3D打印课程</p>
            </div>
          </div>
        </div>
        <div class="case">
          <img class="bk-img" src="<%= image_path('layout/case03.png') %>" alt=""/>

          <div class="shade">
            <div class="s-t">
              3.社区授课案例
            </div>
            <div class="s-c">
              <p>上海市某社区的暑期课程</p>

              <p>豆姆老师耐心为学生讲解机器人搭建和编程中的问题。</p>
            </div>
          </div>
        </div>
        <div class="case">
          <img class="bk-img" src="<%= image_path('layout/case04.png') %>" alt=""/>

          <div class="shade">
            <div class="s-t">
              4.公益活动案例
            </div>
            <div class="s-c">
              <p>上海市某街道邀请豆姆参与的公益活动</p>

              <p>为更多小朋友普及STEAM教育。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section" id="lasted">
    <div id="partner">
      <div class="container">
      <div class="title">
        <img class="logo" src="<%= image_path('layout/logo-orange.png') %>" alt=""/>
        合作伙伴
      </div>
      <div class="p-list">
        <div class="p-item">

        </div>
        <div class="p-item">

        </div>
        <div class="p-item">

        </div>
        <div class="p-item">

        </div>
        <div class="p-item">

        </div>
        <div class="p-item">

        </div>
        <div class="p-item">

        </div>
        <div class="p-item">

        </div>
        <div class="p-item">

        </div>
        <div class="p-item">

        </div>
        <div class="p-item">

        </div>
        <div class="p-item">

        </div>
        <div class="p-item">

        </div>
        <div class="p-item">

        </div>
        <div class="p-item">

        </div>
        <div class="p-item">

        </div>
        <div class="p-item">

        </div>
        <div class="p-item">

        </div>
        <div class="p-item">

        </div>
        <div class="p-item">

        </div>
      </div>
      </div>
    </div>

  </div>

  <div class="section fp-auto-height">
    <div id="footer">
      <div class="container">
        <div class="title">
          我们是谁？
        </div>
        <div class="left">
          <div class="con">
            dome机器人学习器材是一个包含金属积木、子模块、软件工具等几百种零件的工程积木平台。dome机器人学习器材是一个包含金属....................................
          </div>
          <div class="link">
            <a href="">（查看详情）</a>
          </div>
        </div>
        <div class="middle">
          <p>联系方式</p>

          <p>电话：021-31653316</p>

          <p>邮箱：service@robodou.cn</p>

          <p>地址：上海市钦州北路68号B3栋101室</p>
        </div>
        <div class="right">
          <div class="QR">
            <img data-src="<%= image_path('layout/QRcode.png') %>" alt=""/>
          </div>
          <div class="QR">
            <img data-src="<%= image_path('layout/QRcode.png') %>" alt=""/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
