<!DOCTYPE html>
<html>
<head>
  <title>Domelab</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
</head>
<body>
<div id="about" class="about">
  <div class="section first">
    <div id="top" class="top container-fluid">
      <div class="container">
        <div class="left-menu">
          主站
          <span class="caret"></span>
          <ul class="hover-menu">
            <li>
              <a href="#">Domelab</a>
            </li>
            <li>
              <a href="#">Robodou</a>
            </li>
          </ul>
        </div>
        <div class="right-menu">
          <ul class="horizontal-ul">
            <li>
              <a href="">关于我们</a>
            </li>
            <li>
              <a href="">CN</a>
            </li>
            <li>
              <a href="<%= sign_in_path %>">登录</a>
            </li>
            <li>
              <a href="<%= sign_in_path %>">注册</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="nav" class="nav container-fluid">
      <div class="container">
        <div class="logo">
          <a href="/">
            <img data-src="<%= image_path('layout/logo-orange.png') %>" alt="DOME"/>
          </a>
        </div>
        <div class="nav-menu">
          <ul class="horizontal-ul">
            <li>
              <a href="">科普知识</a>
            </li>
            <li>
              <a href="">机器人新闻</a>
            </li>
            <li>
              <a href="">豆姆教室</a>
            </li>
            <li>
              <a href="">比赛分享</a>
            </li>
            <li>
              <a href="">专栏</a>
            </li>
            <li>
              <a href="">豆姆直播</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="banner">
      <div class="container">
        <div class="banner">
          <img data-src="<%= image_path('layout/banner.png') %>" alt=""/>
        </div>
        <div class="banner-list">
          <ul class="horizontal-ul">
            <li>
              <div class="banner-icon gps-icon ready">
                <img data-src="<%= image_path('layout/banner-icon-gps.png') %>" alt=""/>
              </div>
            </li>
            <li>
              <div class="banner-icon mail-icon ready">
                <img data-src="<%= image_path('layout/banner-icon-mail.png') %>" alt=""/>
              </div>
            </li>
            <li>
              <div class="banner-icon phone-icon ready">
                <img data-src="<%= image_path('layout/banner-icon-phone.png') %>" alt=""/>
              </div>
            </li>
            <li>
              <div class="banner-icon weixin-icon ready">
                <img data-src="<%= image_path('layout/banner-icon-weixin.png') %>" alt=""/>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div id="teacher" class="teacher">
      <div class="container-fluid">

        <div class="section-title">
            入驻名师
        </div>

        <div class="slider-section ready">
          <div class="slider-win">
            <ul class="horizontal-ul slider-list">
              <li class="slider-item">
                <div class="teacher-item">
                  <div class="img">
                    <img data-src="<%= image_path('teacher-temp.png') %>" alt=""/>
                  </div>
                  <div class="name">
                    XX老师
                  </div>
                  <div class="address">
                    XX少科站
                  </div>
                  <div class="dec">
                    描述描述描述描述描述描述
                  </div>
                </div>
              </li>
              <li class="slider-item">
                <div class="teacher-item">
                  <div class="img">
                    <img data-src="<%= image_path('teacher-temp.png') %>" alt=""/>
                  </div>
                  <div class="name">
                    XX老师
                  </div>
                  <div class="address">
                    XX少科站
                  </div>
                  <div class="dec">
                    描述描述描述描述描述描述
                  </div>
                </div>
              </li>
              <li class="slider-item active">
                <div class="teacher-item">
                  <div class="img">
                    <img data-src="<%= image_path('teacher-temp.png') %>" alt=""/>
                  </div>
                  <div class="name">
                    XX老师
                  </div>
                  <div class="address">
                    XX少科站
                  </div>
                  <div class="dec">
                    描述描述描述描述描述描述
                  </div>
                </div>
              </li>
              <li class="slider-item">
                <div class="teacher-item">
                  <div class="img">
                    <img data-src="<%= image_path('teacher-temp.png') %>" alt=""/>
                  </div>
                  <div class="name">
                    XX老师
                  </div>
                  <div class="address">
                    XX少科站
                  </div>
                  <div class="dec">
                    描述描述描述描述描述描述
                  </div>
                </div>
              </li>
              <li class="slider-item">
                <div class="teacher-item">
                  <div class="img">
                    <img data-src="<%= image_path('teacher-temp.png') %>" alt=""/>
                  </div>
                  <div class="name">
                    XX老师
                  </div>
                  <div class="address">
                    XX少科站
                  </div>
                  <div class="dec">
                    描述描述描述描述描述描述
                  </div>
                </div>
              </li>
              <li class="slider-item">
                <div class="teacher-item">
                  <div class="img">
                    <img data-src="<%= image_path('teacher-temp.png') %>" alt=""/>
                  </div>
                  <div class="name">
                    XX老师
                  </div>
                  <div class="address">
                    XX少科站
                  </div>
                  <div class="dec">
                    描述描述描述描述描述描述
                  </div>
                </div>
              </li>
              <li class="slider-item">
                <div class="teacher-item">
                  <div class="img">
                    <img data-src="<%= image_path('teacher-temp.png') %>" alt=""/>
                  </div>
                  <div class="name">
                    XX老师
                  </div>
                  <div class="address">
                    XX少科站
                  </div>
                  <div class="dec">
                    描述描述描述描述描述描述
                  </div>
                </div>
              </li>
              <li class="slider-item">
                <div class="teacher-item">
                  <div class="img">
                    <img data-src="<%= image_path('teacher-temp.png') %>" alt=""/>
                  </div>
                  <div class="name">
                    XX老师
                  </div>
                  <div class="address">
                    XX少科站
                  </div>
                  <div class="dec">
                    描述描述描述描述描述描述
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="slider-btn prev"></div>
          <div class="slider-btn next"></div>
        </div>

        <div class="text-animate ready">
          <p>如果你对机器人教育有热情 ● 如果你从事科技教育多年</p>
          <p>如果你对并发小朋友的创客能力充满干劲</p>
          <p>豆姆欢迎你的加入</p>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div id="footer">
      <div class="container">
        <div class="title">
          我们是谁？
        </div>
        <div class="left">
          <div class="con">
            dome机器人学习器材是一个包含金属积木、子模块、软件工具等几百种零件的工程积木平台。dome机器人学习器材是一个包含金属....................................
          </div>
          <div class="link">
            <a href="">（查看详情）</a>
          </div>
        </div>
        <div class="middle">
          <p>联系方式</p>

          <p>电话：021-31653316</p>

          <p>邮箱：service@robodou.cn</p>

          <p>地址：上海市钦州北路68号B3栋101室</p>
        </div>
        <div class="right">
          <div class="QR">
            <img data-src="<%= image_path('layout/QRcode.png') %>" alt=""/>
          </div>
          <div class="QR">
            <img data-src="<%= image_path('layout/QRcode.png') %>" alt=""/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
